.form-check-label {
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out box-shadow;
    width: 100%;
}

.form-checkboxes, .block-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-check-input:checked + .form-check-label {
    box-shadow: 0 0 3px var(--primary);
    border-color: var(--primary);
}

.form-check {
    margin-bottom: 5px;
    padding-left: 0;
    width: 100%;
}

.form-check-input {
    display: none;
}

@media screen and (min-width: 768px){
    .form-check {
        width: 49%;
    }

    .btn-block+.btn-block {
        margin-top: 0;
    }

    .block-btn-container .btn-block {
        width: 49% 
    }
}